body{
  font-family: Verdana;
  font-weight: bold;
	background-color:#cf9025;
	color: #000000;
	font-size: 14;
}

h1{
  text-align: center;
}

#container{
  margin-left: 2%;
}
#scr{
  margin-left: 10px;
}
